.text-area {
	-fx-background-radius: 0;
    /*-fx-background-color: red, white;
    -fx-background-insets: 0, 0 0 5 0;*/
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}