/* Also add the stylesheet "color_palette.css" to use this stylesheet. */

* {
	/*
		Baseline Color Theme
	*/

	/*
	-primary-color:
	-primary-variant-color:
	-secondary-color:
	-secondary-variant-color:
	-background-color:
	-surface-color:
	-error-color:
	-on-primary-color:
	-on-secondary-color:
	-on-background-color:
	-on-surface-color:
	-on-error-button:
	*/

	/*
		Implementations
	*/

	-navigation-rail-color: -sona-blue-grey-800;
	-on-navigation-rail-inactive-text-color: -sona-blue-grey-100;
	-on-navigation-rail-activated-text-color: -sona-orange-800;
}