.filled-button {
	-fx-background-color: -filled-extended-fab-color;
	-fx-background-radius: 9999;
}

.filled-button:hover {
	-fx-background-color: derive(-filled-extended-fab-color, 16%);
}

.filled-button:pressed {
	-fx-background-color: derive(-filled-extended-fab-color, 32%);
}