/*
	This type scale is inspired by Reply from Material.io.
	See: https://material.io/design/material-studies/reply.html#typography

	Also add the stylesheet "all_fonts.css" to use this stylesheet.
*/


/*
	FONT TYPE SCALE
*/

.headline-1 {
	-fx-font-family: 'Work Sans Light';
	-fx-font-size: 96;
}

.headline-2 {
	-fx-font-family: 'Work Sans SemiBold';
	-fx-font-size: 60;
}

.headline-3 {
	-fx-font-family: 'Work Sans Regular';
	-fx-font-size: 48;
}

.headline-4 {
	-fx-font-family: 'Work Sans Bold';
	-fx-font-size: 34;
}

.headline-5 {
	-fx-font-family: 'Work Sans Bold';
	-fx-font-size: 24;
}

.headline-6 {
	-fx-font-family: 'Work Sans Medium';
	-fx-font-size: 20;
}

.subtitle-1 {
	-fx-font-family: 'Work Sans Regular';
	-fx-font-size: 16;
}

.subtitle-2 {
	-fx-font-family: 'Work Sans Medium';
	-fx-font-size: 14;
}

.body-1 {
	-fx-font-family: "Work Sans Regular";
	-fx-font-size: 18;
}

.body-2 {
	-fx-font-family: 'Work Sans Regular';
	-fx-font-size: 14;
}

.button-3 {
	-fx-font-family: 'Work Sans Medium';
	-fx-font-size: 14;
}

.caption {
	-fx-font-family: 'Work Sans Regular';
	-fx-font-size: 12;
}

.overline {
	/* Type in ALL CAPS when using Overline style. */
	-fx-font-family: 'Work Sans SemiBold';
	-fx-font-size: 12
}


/*
	(FONT AWESOME) ICON TYPE SCALE
*/

/* Similar to button-3. */
.button-brand-icon-3 {
	-fx-font-family: 'Font Awesome 5 Brands Regular';
	-fx-font-size: 14;
}

